<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Company Home Page</title>
</head>
<body>

<h2>Company Home Page</h2>
<hr>
Welcome to the company home page!
<hr>
<!-- display user name and role -->
<p>
    User: <span sec:authentication="principal.username"></span> <br><br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>

<hr>
<div sec:authorize="hasRole('MANAGER')">
    <!-- display a link /leaders for Managers only -->
    <p>
        <a th:href="@{/leaders}">Leadership meeting</a> (for Managers only)
    </p>
    <hr>
</div>

<div sec:authorize="hasRole('ADMIN')">
    <!-- display a link /systems for Admins only -->
    <p>
        <a th:href="@{/systems}">Systems meeting</a> (for Admins only)
    </p>
    <hr>
</div>

<form action="#" th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>


</body>
</html>